<!doctype html>
<html lang="en">

<head>
    <title>SMedia</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='autocomplete.js') }}"></script>
</head>

<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{{url_for('home')}}">SMedia</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{url_for('home')}}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Profile
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/viewprofile">View Profile</a>
                            <a class="dropdown-item" href="{{ url_for('editprofile') }}">Edit Profile</a>
                            <a class="dropdown-item" href="{{ url_for('userchange') }}">Change Password</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pending_list">Friend List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/accept_list">My Friend</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/send_req">Make Friends</a>
                    </li>

                </ul>
                <form action="#">
                    <div class="search-navbar ml-auto">
                        <div class="input-group">
                            <input type="text" id="search-input" class="form-control" placeholder="Search...">
                            <div class="input-group-append">
                                <button class="btn btn-outline-success" type="submit">🔎
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </div>
                        </div>
                        <div id="autocomplete-list"></div>
                    </div>
                </form>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('sign_out') }}"><i class="fas fa-sign-out-alt"></i>
                            Logout</a>
                    </li>
                </ul>


                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
                <script>
                    $(function () {
                        var availableTags = [
                            {% for user in user %}
                    "{{ user.username}}",
                        {% endfor %}
            ];

                    $("#search-input").autocomplete({
                        source: availableTags,
                        select: function (event, ui) {
                            // Handle selection logic here if needed
                        },
                        open: function (event, ui) {
                            var term = $(this).val().toLowerCase();
                            if (term.startsWith("p")) {
                                var resultCount = ui.item.length;
                                var message = resultCount + " resultsss are available, use up and down arrow keys to navigate.";
                                $("#autocomplete-list").text(message);
                            }
                        }
                    });
        });
                </script>


            </div>
        </nav>
        <div class="container">
            <h3 style="color:red;">{{ b }} {% with messages = get_flashed_messages() %} {% if messages %} {% for message
                in messages %}
                <p>{{ message }}</p>
                {% endfor %} {% endif %} {% endwith %}
            </h3>
        </div>

        <div class="container">
            <h3>SMedia Platform</h3>
            {% if session %}
            <h1>Welcome {{ name }}!</h1>
            {% else %}
            <h1>Welcome! Please Login First <a href="{{ url_for('userlogin') }}">here.</a></h1>
            {% endif %}
        </div>
    </div>
    <script src="{{ url_for('static', filename='autocomplete.js') }}"></script>
</body>

</html>