<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <h3>{{b}} {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %} {% endif %} {% endwith %}</h3>
    </div>
    <h1>Requsted Friend List</h1>
    <table border="1">
        <tr>
            <th>Friend Request id</th>
            <th>Friend Request</th>
            <th>Accept</th>
            <th>Reject</th>

        </tr>
        {% for uid,uname in requested_person.items() %}
        <tr>
            <td>{{uid}}</td>

            <td>{{uname}}</td>
            <td>
                <a href=" {{url_for( 'accept_req',id=uid)}} " onclick="return confirm( ' Are you sure to Accept ? ') ">Accept
            </td>
             <td>
                <a href="{{url_for( 'reject_req',id=uid)}} ">Reject
            </td>
        </tr>
        {% endfor%}

</body>

</html>